# 配置语法：
# 以斜杠“/”开头表示目录；
# 以星号“*”通配多个字符；
# 以问号“?”通配单个字符
# 以方括号“[]”包含单个字符的匹配列表；
# 以叹号“!”表示不忽略(跟踪)匹配到的文件或目录；
 
# 该配置是按行从上到下进行规则匹配的
 
# *.zip       # 忽略所有 .zip 结尾的文件
# !build.zip  # 但 build.zip 除外
# /TODO       # 仅仅忽略项目根目录下的 TODO 文件，不包括 subdir/TODO
# build/      # 忽略 build/ 目录下的所有文件
# .idea/      # 忽略 .idea/ 目录下的所有文件
# doc/*.txt   # 会忽略 doc/notes.txt 但不包括 doc/server/node.txt

/.project
*target*
*.war
*.ear
# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

.idea/*


*.log
*.log.*
.idea/
logs/
server/logs/
server/src/test/
.classpath
=======
/target/
/.settings/
.classpath
.project


*.iml
